.container::before,
.container::after,
.clearfix::before,
.clearfix::after {
  content: '';
  display: table; }

.container::after,
.clearfix::after {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

ul, li, ol {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.wrapper {
  min-height: calc(100vh - 155px); }

a, a:hover, a:link, a:visited {
  text-decoration: none;
  color: inherit; }

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; }

.up-line {
  display: block;
  height: 40px;
  background-color: #d7d7d7; }
  .up-line .text {
    color: #3c3c3c;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    position: relative; }
  .up-line .text:before {
    content: "";
    background: url("../images/arrow.png") no-repeat;
    width: 23px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 0; }

/*
 * jQuery FlexSlider v2.6.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }

.flexslider .slides {
  zoom: 1; }

.flexslider .slides img {
  height: auto;
  -moz-user-select: none; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.flex-direction-nav a:before, .flex-direction-nav a.flex-next:before {
  display: inline-block;
  content: '';
  width: 17px;
  height: 32px;
  background-image: url("../images/prev-arrow.png");
  margin-top: 7px; }

.flex-direction-nav a.flex-next:before {
  width: 17px;
  height: 32px;
  background-image: url("../images/next-arrow.png"); }

.flex-direction-nav .flex-prev {
  left: 20px; }

.flex-direction-nav .flex-next {
  right: 20px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

.main-slider {
  margin: 15px 0 0 0; }
  .main-slider ul {
    list-style-type: none; }
  .main-slider ul li .li-cont {
    display: block;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to top, #d6d6d6 0%, #f9f9f9 99%, #f9f9f9 100%);
    border-radius: 10px;
    position: relative; }
  .main-slider ul li:nth-child(4) .li-cont h2 {
    width: 150px; }
  .main-slider ul li:nth-child(4) .li-cont img {
    width: 110px;
    height: 60px; }
  .main-slider ul li:nth-child(5) .li-cont h2 {
    width: 205px; }
  .main-slider ul li:nth-child(5) .li-cont img {
    bottom: 2px;
    right: 10px; }
  .main-slider ul li:nth-child(6) .li-cont h2 {
    width: 140px; }
  .main-slider ul li:nth-child(6) .li-cont img {
    width: 105px;
    height: 75px; }
  .main-slider ul li:nth-child(7) .li-cont h2 {
    width: 160px; }
  .main-slider ul li:nth-child(9) .li-cont h2 {
    margin-top: 0; }
  .main-slider ul li:nth-child(9) .li-cont img {
    right: 5px; }
  .main-slider ul li .li-cont h2 {
    margin: 16px 0 0 10px;
    float: left;
    width: 180px;
    color: #0ba3e5;
    font-family: Calibri, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase; }
  .main-slider ul li .li-cont img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 80px;
    height: 80px; }
  .main-slider .flexslider {
    margin: 0;
    border: none;
    background-color: transparent; }
  .main-slider .flex-control-nav {
    display: none; }
  .main-slider .flex-direction-nav {
    display: none; }

header {
  background-image: linear-gradient(to top, #0080c1 0%, #5ec8f6 100%);
  min-height: 70px;
  position: relative; }
  header .left {
    margin: 24px 0 0 15px;
    float: left; }
    header .left nav {
      display: none;
      width: 170px;
      position: absolute;
      z-index: 9999;
      left: 0;
      top: 0;
      background-color: #d9d9d9; }
    header .left nav ul {
      margin: 70px 0 0 0;
      background-image: linear-gradient(to top, #0d8ac9 0%, #59c4f3 100%);
      list-style-type: none;
      color: white;
      font-size: 15px;
      font-style: italic; }
    header .left nav ul li {
      padding: 10px 0 10px 25px;
      cursor: pointer; }
    header .left nav ul li a {
      display: block; }
    header .left nav ul li:hover {
      background-color: black; }
    header .left .active {
      display: block; }
    header .left .hamburger {
      cursor: pointer; }
    header .left .cross {
      margin: 25px 15px 0 0;
      float: right;
      cursor: pointer; }
  header .logo {
    margin: 12px 0 0 -45px;
    position: absolute;
    top: 0;
    left: 50%; }
  header .right {
    margin: 25px 10px 0 0;
    float: right; }
    header .right .phone {
      display: none;
      width: 230px;
      height: 50px;
      background-image: linear-gradient(to top, #0d8ac9 0%, #59c4f3 100%);
      position: absolute;
      z-index: 100;
      bottom: -50px;
      right: 0;
      text-align: center;
      line-height: 50px;
      color: white;
      font-size: 18px;
      font-style: italic; }
    header .right .active {
      display: block; }

.news {
  margin: 0 0 30px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1.1px 1.7px 7px rgba(15, 16, 16, 0.24); }
  .news h2 {
    padding: 35px 0 0 10px;
    color: #4b4848;
    font-size: 22px;
    font-weight: 400; }
  .news .news-cont {
    margin: 30px 0 0 0;
    border-bottom: 1px dashed #5f6061; }
    .news .news-cont .news-img {
      margin: 0 auto;
      display: block;
      width: 90%; }
    .news .news-cont .news-img img {
      width: 100%; }
    .news .news-cont h3 {
      margin: 30px 0 0 5%;
      font-size: 15px;
      line-height: 22px;
      color: #00a5fd;
      font-weight: normal;
      text-transform: uppercase; }
    .news .news-cont .date {
      margin: 5px 0 0 5%;
      color: #686264;
      font-weight: 400; }
    .news .news-cont .text {
      margin: 0 10px 0 5%;
      color: #686264;
      font-weight: 400; }
    .news .news-cont .link {
      margin: 0 5% 30px 0;
      color: #3e8f00;
      font-size: 15px;
      font-weight: 700;
      float: right; }
    .news .news-cont .link:hover {
      text-decoration: underline; }
  .news .number {
    padding: 30px 0 45px 0;
    text-align: center; }
  .news .number ul {
    list-style-type: none;
    display: inline-block; }
  .news .number ul li {
    float: left;
    margin: 0 10px 0 0;
    color: #3e8f00;
    font-size: 17px;
    font-weight: bold; }
  .news .number ul li:hover {
    color: black; }
  .news .active {
    color: black; }

.news-more {
  margin: 20px 0 30px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1.1px 1.7px 7px rgba(15, 16, 16, 0.24); }
  .news-more .news-more-cont {
    padding: 0 15px;
    font-size: 15px;
    color: #686264;
    font-weight: normal; }
    .news-more .news-more-cont img {
      margin: 40px 0 30px 0;
      width: 100%; }
    .news-more .news-more-cont h2 {
      font-size: 15px;
      color: #00a5fd;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase; }
    .news-more .news-more-cont .date {
      margin: 10px 0 10px 0; }
    .news-more .news-more-cont .text h3 {
      font-size: 15px;
      font-weight: bold;
      line-height: 22px; }
    .news-more .news-more-cont .link {
      margin: 0 0 50px 0;
      float: right;
      color: #3e8f00;
      font-size: 15px;
      font-weight: bold; }
    .news-more .news-more-cont .link:hover {
      text-decoration: underline; }

.photogalery {
  margin: 30px 0 30px 0;
  padding: 1px 5% 1px 5%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1.1px 1.7px 7px rgba(15, 16, 16, 0.24); }
  .photogalery .photogalery-cont {
    margin: 35px 0 20px 0;
    padding: 15px 5% 0 5%;
    text-align: center;
    background-color: #dae8b4; }
    .photogalery .photogalery-cont .photo {
      display: block; }
    .photogalery .photogalery-cont .photo img {
      width: 100%; }
    .photogalery .photogalery-cont .link {
      margin: 25px 0 30px 0;
      display: inline-block;
      color: #00a5fd;
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      line-height: 22px;
      text-decoration: underline; }
    .photogalery .photogalery-cont .link:hover {
      text-decoration: none; }
  .photogalery .photogalery-cont:last-child {
    margin-bottom: 40px; }

.photogalery-more {
  margin: 30px 0 30px 0;
  padding: 1px 4% 1px 4%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1.1px 1.7px 7px rgba(15, 16, 16, 0.24); }
  .photogalery-more .photogalery-more-cont h2 {
    margin: 35px 0 25px 0;
    color: #00a5fd;
    font-size: 15px;
    font-weight: bold;
    font-style: italic; }
  .photogalery-more .photogalery-more-cont .flexslider {
    margin: 0 auto;
    border: none;
    background-color: transparent;
    width: 100%; }
  .photogalery-more .photogalery-more-cont .flex-control-nav {
    display: none; }
  .photogalery-more .photogalery-more-cont .text {
    margin: 30px 0 0 0;
    color: #686264;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px; }
  .photogalery-more .link {
    margin: 0 0 50px 0;
    float: right;
    color: #3e8f00;
    font-size: 15px;
    font-weight: bold; }
  .photogalery-more .link:hover {
    text-decoration: underline; }

.services-list {
  margin: 0 0 20px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1.1px 1.7px 7px rgba(15, 16, 16, 0.24); }
  .services-list ul {
    padding: 1px 0;
    list-style-type: none; }
  .services-list ul li {
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
    font-size: 15px;
    font-weight: bold;
    color: #686264;
    border-bottom: 1px dashed #5f6061; }
  .services-list ul li:first-child {
    margin-top: 35px; }
  .services-list ul li:last-child {
    margin-bottom: 35px; }
  .services-list ul li a {
    display: block; }
  .services-list ul li:hover {
    color: #00a5fd; }
  .services-list ul li:last-child {
    border: none; }

.servises-more {
  margin: 20px 0 30px 0;
  padding: 1px 5%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1.1px 1.7px 7px rgba(15, 16, 16, 0.24); }
  .servises-more h2 {
    margin: 30px 0;
    color: #505050;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px; }
  .servises-more img {
    width: 100%; }
  .servises-more .text {
    margin: 30px 0 55px 0;
    font-weight: normal;
    color: #686264;
    font-size: 15px;
    line-height: 22px; }
  .servises-more .text ol {
    margin-left: 20px; }
  .servises-more .text h3 {
    margin: 0 0 20px 0;
    color: #4b9e01;
    font-size: 22px;
    line-height: 30px; }

.contact-us {
  margin: 20px 0 30px 0;
  padding: 1px 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1.1px 1.7px 7px rgba(15, 16, 16, 0.24); }
  .contact-us h2 {
    margin: 30px 0 10px 0;
    font-size: 15px;
    color: #00a5fd;
    font-weight: bold; }
  .contact-us p {
    margin: 5px 0 0 0;
    font-size: 15px;
    color: #686264;
    font-weight: normal; }
  .contact-us .map {
    margin: 35px 0 55px 0; }
  .contact-us .map iframe {
    width: 100%; }
  .contact-us form label {
    padding-left: 5px;
    color: #686264;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px; }
  .contact-us form input {
    margin: 0 0 30px 0;
    padding: 15px;
    width: 100%;
    height: 40px;
    background-color: #e9e9e9;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #686264;
    font-size: 14px;
    font-weight: normal;
    line-height: 23px; }
  .contact-us form textarea {
    padding: 15px;
    width: 100%;
    height: 200px;
    background-color: #e9e9e9;
    border-radius: 6px;
    border: none;
    outline: none; }
  .contact-us form input[type="submit"] {
    margin: 35px 0 45px 0;
    float: right;
    padding: 0;
    width: 115px;
    height: 30px;
    background-image: linear-gradient(to top, #007ebf 0%, #007ebf 1%, #45bdf3 100%);
    color: white;
    font-size: 17px;
    font-weight: bold; }

footer {
  text-align: center;
  min-height: 271px;
  background-image: linear-gradient(to top, #007dbe 0%, #028ccd 25%, #07a0e3 50%, #32b4f0 75%, #68cdf7 100%); }
  footer .footer-cont {
    margin: 30px 0 0 0;
    display: inline-block; }
    footer .footer-cont img {
      float: left; }
    footer .footer-cont p {
      margin: 0;
      padding: 0 0 0 15px;
      width: 190px;
      float: left;
      color: #f9f9f9;
      font-size: 15px;
      font-weight: 400; }
  footer .copyright {
    margin: 40px 0 0 0;
    color: white;
    font-size: 12px;
    font-weight: 400; }
  footer .footer-cont:nth-child(1) img {
    padding: 6px 0 0 0; }
  footer .footer-cont:nth-child(3) img {
    padding: 2px 0 0 0; }

.services {
  margin: 0 0 20px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1.1px 1.7px 7px rgba(15, 16, 16, 0.24); }
  .services ul {
    list-style-type: none; }
  .services ul li {
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
    font-size: 15px;
    font-weight: bold;
    color: #686264;
    border-bottom: 1px dashed #5f6061; }
  .services ul li a {
    display: block; }
  .services ul li:hover {
    color: #00a5fd; }
  .services ul li:last-child {
    border: none; }

.company-info {
  margin: 0 0 30px 0;
  font-weight: bold;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 1.1px 1.7px 7px rgba(15, 16, 16, 0.24); }
  .company-info h2 {
    margin: 0 10px 50px 10px;
    padding: 25px 0 0 0;
    color: #4a9e00;
    font-size: 22px;
    line-height: 30px; }
  .company-info .text {
    padding: 0 10px 0 10px;
    color: #635e5e;
    font-size: 15px;
    line-height: 22px; }
  .company-info p {
    padding: 0 0 20px 0; }
